@media only screen and (min-width: 600px) {
    #LogoType{
        height: 200px;
        width:300px;
        position: absolute;
        top: 30%;
        left: 100px;
        right:100px;
        display: inline-block;    
        color: #4285F3;
        font-size: 72px;
        font-family: gsans-medium;
    }
    #AlexLogotypeDiv{
        height: 100%;
        width:500px;
        position: relative;
        top: 0px;
        display: inline-block;     
    }

    div#top{
        text-align: center;
    }

    #NavLogo{
        background-color: white;
        position: fixed;
        top: 10px;
        left:10px;
        width:50px;
        height: 50px;
        border-radius: 5px;     
        border: 0px solid;

        animation: md-button-hover-false linear 0.3s;
        box-shadow: 0px 1px 7px rgba(0,0,0,0.05);
    }
    #NavLogo:hover{

        animation: md-button-hover-true linear 0.3s;
        box-shadow: 0px 2px 10px rgba(0,0,0,0.1);

    }

    @keyframes md-button-hover-false{
        from {
            box-shadow: 0px 2px 10px rgba(0,0,0,0.1);
        }
        to{
            box-shadow: 0px 1px 7px rgba(0,0,0,0.05);
        }
    }

    @keyframes md-button-hover-true{
        from {
            box-shadow: 0px 1px 7px rgba(0,0,0,0.05);
        }
        to{
            box-shadow: 0px 2px 10px rgba(0,0,0,0.1);
        }
    }

    #LogoNavBar{
        position: fixed;
        width: 20px;
        height: 20px;
        top: 25px;
        left: 25px;
    }

    .ScrollWave{
        position: absolute;
        top: 90%;
        left: 0px;
        width: 110%;
        left: -5%;
    }

    .PageBackground{
        background-color: #f5f5f5;
        position: absolute;
        top: 0px;
        left:0px;
        width: 100%;
        height: 300px;
        visibility: hidden;
    }

    .cls-1, .cls-2 {
        fill: #222222;
    }

    @keyframes info-box-hover-false{
        from {
            box-shadow: 0px 3px 15px rgba(0,0,0,0.3);
        }
        to{
            box-shadow: 0px 1px 10px rgba(0,0,0,0.2);
        }
    }

    @keyframes info-box-hover-true{
        from {
            box-shadow: 0px 1px 10px rgba(0,0,0,0.2);
        }
        to{
            box-shadow: 0px 3px 15px rgba(0,0,0,0.3);
        }
    }

    #NavBar{
        background-color: white;
        position: fixed;
        top: 10px;
        right: 10px;
        width: 201.7px;
        height: 50px;
        border-radius: 5px;     
        border: 0px solid;

        visibility: hidden;

        animation: nav-bar-hover-false linear 0.3s;
        box-shadow: 0px 1px 7px rgba(0,0,0,0.03);
    }

    #NavBar:hover{
        animation: nav-bar-hover-true linear 0.3s;
        box-shadow: 0px 2px 10px rgba(0,0,0,0.05);
    }

    @keyframes nav-bar-hover-false{
        from {
            box-shadow: 0px 2px 10px rgba(0,0,0,0.05);
        }
        to{
            box-shadow: 0px 1px 7px rgba(0,0,0,0.03);
        }
    }

    @keyframes nav-bar-hover-true{
        from {
            box-shadow: 0px 1px 7px rgba(0,0,0,0.03);
        }
        to{
            box-shadow: 0px 2px 10px rgba(0,0,0,0.05);
        }
    }

    .NavBarButtons{
        background-color: white;
        position: fixed;
        top: 10px;
        height: 50px;
        border-radius: 5px;     
        border: 0px solid;

        animation: nav-button-hover-false linear 0.3s;
        box-shadow: 0px 1px 7px rgba(0,0,0,0);
    }

    .NavBarButtons:hover{
        animation: nav-button-hover-true linear 0.3s;
        box-shadow: 0px 2px 10px rgba(0,0,0,0.05);
        z-index: 1;
    }

    .NavBarButtons#Home{
        border-top-left-radius: 0px;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
        border-bottom-left-radius: 0px;

        right: 10px;
        width: 85.2px;

    }
    .NavBarButtons#Contact{
        border-top-left-radius: 5px;
        border-top-right-radius: 0px;
        border-bottom-right-radius: 0px;
        border-bottom-left-radius: 5px;

        right: 95.2px;
        width: 116.5px;

    }

    @keyframes nav-button-hover-false{
        from {
            box-shadow: 0px 2px 10px rgba(0,0,0,0.05);
        }
        to{
            box-shadow: 0px 1px 7px rgba(0,0,0,0);
        }
    }

    @keyframes nav-button-hover-true{
        from {
            box-shadow: 0px 1px 7px rgba(0,0,0,0);
        }
        to{
            box-shadow: 0px 2px 10px rgba(0,0,0,0.05);
        }
    }

    .NavText{
        position: relative;        
        top: 17px;
        left: 18.5px;
        height: 13px;
    }
    
    #Menu{
        visibility: hidden;
    }

    div#top{
        width: 100%;
        height: 100%;
        position: fixed;
        top:0px;
        left:0px;
    }

    div#project-page{
        left:0px;
        top: 100%;
        width: 100%;
        height: 300px;
        position: absolute;
        background-color: #f5f5f5;
    }

    #HomeLogo{
        visibility: hidden;
    }

    .sidenav a {
        visibility: hidden;
    } 
}