@font-face{
    font-family: 'gsans-regular';
    src: url(code-files/fonts/GoogleSans-Regular.ttf);                    
}

@font-face{
    font-family: 'gsans-medium';
    src: url(code-files/fonts/GoogleSans-Medium.ttf);                    
}

@font-face{
    font-family: 'gsans-bold';
    src: url(code-files/fonts/GoogleSans-Bold.ttf);                    
}

body {width: 100%; overflow-x:hidden;}

*{font-family: gsans-regular}