@import '../common/skeleton.css';

#cnt {
  flex-direction: row;
  margin: auto;
}

#lf {
  gap: 40px;
  width: 100%;
}

#title,
#ps,
#ft {
  flex-direction: row;
}

#pf {
  margin-right: -54px;
  z-index: 1;
  box-shadow: 0 0 0 12px var(--bg);
}

#dd{
  gap: 4px;
}

#d2 {
  border-radius: 0 0 8px 8px;
}

#ps {
  gap: 20px;
}

#ps>a:last-child,
#rg {
  display: none;
}

#nav,
#ft {
  margin: 24px;
  gap: 24px;
}

#nav {
  border: 0px;
  margin: 32px;
}