@import '/common/skeleton.css';

#title,
#ps {
  flex-direction: row;
}

#pf {
  margin-right: -54px;
  z-index: 1;
  box-shadow: 0 0 0 12px var(--bg);
}

#dd{
  gap: 4px;
}

#ps {
  gap: 20px;
}

#ps>a:last-child,
#rg {
  display: none;
}
