@font-face{ font-family: 'Manrope'; font-weight: 800; src: url(https://fonts.gstatic.com/s/manrope/v1/xn7gYHE41ni1AdIRggexSg.woff2) format('woff2'); }
@font-face{ font-family: 'Manrope'; font-weight: 700; src: url(https://fonts.gstatic.com/s/manrope/v1/xn7gYHE41ni1AdIRggexSg.woff2) format('woff2'); }

:root{
	--Black: #0F1B33;
	--Blue: #4d88ff;
	--Light: #CCDDFF;
	--LeftPadding: calc(calc(100vh*1.75 + 100vw)*0.03);
	--PaneWidth: 45vw;
}

@media (prefers-color-scheme: dark) {
	:root{
		--Black: #F2F6FF;
		--Blue: #9ABBFF;
		--Light: #364159;
	}
	html>body{background: #0F1219;}
}

p{ font-family: 'Manrope'; font-weight: 700; color:var(--Black); }

body { background: #FFFFFF; }

body,html{ height:100%; overflow-x: hidden; margin:0px; scroll-behavior: smooth}

/*.section-separator{ left:var(--LeftPadding); width:calc(100vw - calc(var(--LeftPadding)*2)); height: 1.5px; background: var(--Black); opacity: 0.1; position: absolute; bottom: -0.75px;}
*/
.fadeChild>*:not(.faded), .fadeSelf:not(.faded){
	opacity:0 !important;
	transform: translateY(40px);
}

.faded, .faded>*{
	animation: fade 1s cubic-bezier(0.1, 0.2, 0, 1);
	opacity:1;
	transform: translateY(0px);
}

@keyframes fade { from {
	transform: translateY(40px);
	opacity:0;
} to {
	transform: translateY(0px);
	opacity:1;
} }

@keyframes blur { from {
	filter: blur(0px);
	opacity:1;
} to {
	filter: blur(50px);
	opacity:0.3;

} }

@keyframes notblur { from {
	filter: blur(50px);
	opacity:0.3;
} to {
	filter: blur(0px);
	opacity:1;

} }

.blur>*{
	animation: blur 0.7s cubic-bezier(0.8, 0, 0.2, 1);
	filter: blur(50px);
	opacity:0.3;
}

.notblur>*{
	animation: notblur 0.7s cubic-bezier(0.8, 0, 0.2, 1);
	filter: blur(0px);
	opacity:1;
}

/* --- --- --- HOME HEAD --- --- --- */

#HomeHead { display:flex; position: relative; width:100%; height:100%; }

/* HomeHeadTitle */

#HomeHeadTitle * svg { max-width:calc(40vh*1.87); }

#HomeHeadTitle1Svg { height:calc(60vw/12.32); max-height: calc(40vh*1.87/12.32); }

#HomeHeadTitle2Svg { height:calc(60vw/3.45); max-height: calc(40vh*1.87/3.45); margin-top:-15px; margin-left:-4px; }

#HomeHeadTitle3Svg { height:calc(60vw/3.45); max-height: calc(40vh*1.87/3.45); margin-left:-6px; margin-top:-37px; }

/* HomeHeadLeft */

#HomeHeadLeft { width:60%; height: 100%; position: relative; left:0px; top:0px; transition: 0.5s; font-family: 'Manrope'; font-weight: 700;
	margin-right:calc(calc(100vh*1.75 + 100vw)*0.015); margin-left:calc(calc(100vh*1.75 + 100vw)*0.03); }

#HomeHeadTitle { max-width:calc(40vh*1.87); width:calc(90% + 60px); max-height:40vh; 
	height: calc(calc(60vw + 60px)/1.87); margin-left:-23px; 
	transform: translateY(calc(calc(50vh - calc(100%/0.85/2)))); }

#HomeHeadTitle * svg{
	width:100%;
	font-family: 'Manrope';
	font-weight: 800;
}

#HomeHeadScroll { padding:calc(calc(100vw + 175vh)*0.03);  bottom:0px;
	margin-left: calc(calc(100vw + 175vh)*-0.03); position: absolute; }

#HomeHeadScroll:hover #HomeHeadScrollSvg { fill: var(--Black) }

#HomeHeadScrollSvg { fill: var(--Blue); transition: 0.5s; }

/* Right Side */

#HomeHeadRight { width:calc(40% - calc(100vh*1.75 + 100vw)*0.045); height: 100%; position: absolute; top:0px; right:0px;
	transition:0.5s; padding-left:calc(calc(100vh*1.75 + 100vw)*0.03); opacity: 0.8; font-size: 20px; }

#HomeHeadRight:hover { width:calc(40% - calc(100vh*1.75 + 100vw)*0.045 + 100px); opacity:1 }

#HomeHeadRight:hover div p { font-size: 22px; }

#HomeNavLinks { margin-top:10px; transition: 0.3s; }

#HomeNavigation { text-align:left; position: relative; transform: translateY(calc(50vh - 50%)); }

#HomeHeadNavigationButtonDesktopSvg { display:inline-block; fill:var(--Black); transition: 0.5s; } 
#HomeHeadNavigationButtonDesktop:not(.faded) {opacity: 0 !important;}

#HomeHeadNavigationButtonSvg { display:none; }

#HomeNavLinks p.faded { padding:10px 0px; margin:0px; transition: all 0.5s, margin 0s, padding 0s, padding-left .3s; opacity: var(--HomeNavOpacity); }

#HomeNavLinks p:hover.faded { color: var(--Blue); padding-left:5px; }

@media only screen and ( max-width:699px ) {
	#HomeHeadNavigationButtonSvg{ display:inline-block }

	#HomeHead{ display:block; text-align: center;	}

	#HomeHeadLeft{ margin:0px calc(calc(100vh*1.75 + 100vw)*0.015);
		width:calc(100% - calc(calc(100vh*1.75 + 100vw)*0.03)); text-align: center; }
	
	#HomeHeadRight { width:100%; margin:0px; top:0px; position:absolute; height:0px; opacity: 1; font-size: 22px; }

	#HomeHeadRight:hover { width:100% }

	#HomeNavigation { transform: translateY(0px); text-align: center; }

	#HomeHeadTitle{ width:100%; height:calc(calc(100vw - calc(100vh*1.75 + 100vw)*0.03)/1.74); margin-left:0px; display: inline-block;  }

	#HomeHeadScrollArea{ text-align: center; position: absolute; bottom:75px; left:0px; width:100%; height:30px}

	#HomeHeadScroll{ position: relative; display:inline-block; padding:20px; margin-left:0px; }	

	#HomeHeadNavigationButtonDesktopSvg { display:none; }

	#HomeHeadNavigationButtonSvg { fill: var(--Black); transition:0.5s }

	#HomeHeadNavigationButton { display:inline-block; position:relative; margin-top: 55px; width:unset; padding:20px; 
		top:calc(75px - 100%); text-align: center; }

	#HomeHeadNavigationButton:hover #HomeHeadNavigationButtonSvg{ fill:var(--Blue) }

	#HomeNavLinks p:hover { padding-left:0px; }

	#HomeHeadTitle * svg { max-width:100%; }

	#HomeHeadTitle1Svg { height:calc(100vw/12.32); }

	#HomeHeadTitle2Svg { height:calc(100vw/3.45); margin-top:-15px; margin-left:-4px; }

	#HomeHeadTitle3Svg { height:calc(100vw/3.45); margin-left:-6px;}

	#HomeNavLinks p.faded { animation: none; opacity: var(--HomeNavOpacity); }

}

/* --- --- --- HOME GALLERY --- --- --- */

#HomeFeatured { display:flex; position: relative; width:100%; height:85% }

#HomeFeaturedLeft { width:var(--PaneWidth); height:100%; display: flex; flex-direction: column;
	justify-content: center; position: relative; margin: 0 5vw; }

#HomeFeaturedTitle { display: flex; flex-direction: column; }

#HomeFeaturedTitle>#HomeFeaturedSubtitle {margin:-21.5px 0px calc(var(--PaneWidth)*0.74/34.3/1.5) 0px;} 

#HomeFeaturedTitle>iv->#HomeFeaturedSubtitleSvg { height:calc(var(--PaneWidth)*0.74/10.4/1.5) }

#HomeFeaturedTitle>iv-{margin-bottom:calc(var(--PaneWidth)*0.74/60)}

#HomeFeaturedTitle>iv->svg { height:calc(var(--PaneWidth)*0.74/3.431/1.5) }

#HomeFeaturedTitle text { font-family: 'Manrope'; font-weight: 800; }

@media only screen and (max-width:699px){ :root{ --PaneWidth:100vw } #HomeFeaturedTitle{display: inline-flex} 
	#HomeFeaturedLeft{text-align: center} }

