#go-down-button{
    width: 60px;
    height: 60px;
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0px 1px 7px #4285F330;    
    position: absolute;
    right: 20px;
    top: 20px;
    transition: 0.5s;
}

#go-down-button:hover{
    background-color: #ffffff;
    box-shadow: 0px 1px 15px #4285F348;
}

#go-down-icon{
    width: 24px;
    height: 24px;
    top: 18.5px;
    left: 18px;
    position: relative;

}

div#top{
    width: 100%;
    height: 100%;
    position: fixed;
    top:0px;
    left:0px;
    text-align: center;
}


html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

#main {
    transition: margin-left .5s;
    padding: 20px;
}

.ProjectCard#Atlass{background-color: #0F142A;}
.ProjectCard#Notes{background-color: #4285F3;}

.ProjectCard{
    position: absolute;
    top: 20px;
    left:20px;
    width:60px;
    height: 60px;
    border-radius: 5px;     
    border: 0px solid;

    animation: info-box-hover-false linear 0.3s;
    box-shadow: 0px 1px 10px rgba(0,0,0,0.2);
}

.ProjectElement{
    height: 100px;
    width: 100%;
    position: relative;
    left: 0px;
    top: 0px;
    background-color: #EBF2FD;
    transition: 0.3s;
}

#projects{
    position: absolute;
    top: 100px;
    width:100%;
}

.ProjectElement:hover{
    background-color: #E0EBFC;
}

.ProjectIcon{
    position: absolute;
    width: 48px;
    height: 48px;
    left: 6px;
    top: 6px;
}

.ProjectText{
    position: relative;
    font-size: 26px;
    left: 80px;
    top: -10px;
    font-family: gsans-medium;
}

#InfoIcon{
    position: absolute;
    width: 40px;
    height: 40px;
    top: 30px;
    left: 30px;
}

#InfoText{
    position: absolute;
    font-size: 30px;
    font-family: 'gsans-medium';
    top: 2px;
    left: 100px;
    color: #4285F3;
}

#NoteText{
    color:#4285F3;
}

#AtlassText{
    color:#0F142A;
}

div#project-page{
    left:0px;
    top: 100%;
    width: 100%;
    height: 310px;
    position: absolute;
    background-color: #EBF2FD;
}

#ComingSoon{
    width: 100%;
    height: 100px;
}
