:root {
  --text: #0F0D1A;
  --secondary: #858391;
  --border: #39364D14;
  --element: #39364D20;
  --accent: #6549f2;
  --background-position: left 50% top calc(50%);
  --overlay: #FFFFFF;

  /* used when skeleton loads up */
  --out: .6s cubic-bezier(0, 0.5, 0, 1);
  /* used for menu transitions */
  --outSmooth: .6s cubic-bezier(0.25, 0.25, 0, 1);
}

*:not(#ps):not(#ft) {
  justify-content: center;
  font-family: 'text';
  color: var(--secondary)
}

html {
  overflow: hidden;
}

img {
  height: 100%;
  aspect-ratio: 1;
}

svg {
  height: 100%;
  width: fit-content;
}

body.rendered {
  animation: 5s linear background;
  background:
    radial-gradient(var(--element) 5%, transparent 0),
    var(--bg);
  background-size: 24px 24px;
  overflow-x: hidden;
}

.tr {
  width: 0 !important;
  opacity: 0%;
}

.sl {
  background: -50vw 0/75% 100% fixed no-repeat linear-gradient(0.25turn, transparent, #FAFAFC88, transparent),
    linear-gradient(var(--el), var(--el));
}