:root {
  --el: #EDEBF0;
  --bg: #FAFAFC;
}

*:not(style):not(script):not(title) {
  display: flex;
  align-items: center;
  flex-direction: column;
  transition: .6s cubic-bezier(0, 0.5, 0, 1);
}

html,
body {
  height: 100%;
  width: 100%;
  background: var(--bg);
  margin: 0;
}

.tr {
  width: 0 !important;
  opacity: 0%;
}

.sl {
  animation: .6s cubic-bezier(0, 0.5, 0, 1) blur;
  background: -50vw 0/75% 100% fixed no-repeat linear-gradient(0.25turn, transparent, #FAFAFC88, transparent),
    linear-gradient(var(--el), var(--el));
}

@keyframes blur {
  from{
    filter: blur(64px);
  } to {
    filter: blur(0px);
  }
}
