@import './general.css';
@import './menu.css';

/* --- --- --- --- --- --- --- --- ---
   --- CODE IN THIS FILE REQUIRES- ---
   --- -- AN URGENT REFACTORING -- ---
   --- --- --- --- --- --- --- --- --- */

*:not(#cnt):not(#ps):not(#ft) {
  justify-content: center;
}

#pf,
#ps>a {
  overflow: hidden;
}

#pf>img {
  height: 100%;
  border-radius: 100%;
  aspect-ratio: 1;
}

#ps>a>img {
  aspect-ratio: 1;
  height: 100%;
}

#cr>img,
#nav>img {
  height: 100%;
  aspect-ratio: 1;
}

img {
  opacity: 0;
}


#ps>.rendered {
  animation: .5s cubic-bezier(0.5, 0, 0.25, .75) psrender;
  box-shadow:
    inset 0 0 0 1px var(--border),
    0 0 0 8px var(--bg);
  background: none;
  transition: background .3s;
  background-color: var(--bg);
}

@keyframes psrender {
  from {
    box-shadow:
      inset 0 0 0 24px var(--el),
      0 0 0 8px var(--bg);
  }

  to {
    box-shadow:
      inset 0 0 0 1px var(--border),
      0 0 0 8px var(--bg);
  }
}

#ps>a:hover {
  background: #F0F0F2;
}

.rendered>img {
  opacity: 1;
  animation: 1s cubic-bezier(0.5, 0, 0.25, .75) imgrender;
}

@keyframes imgrender {
  0% {
    opacity: 0;
  }

  10% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

/* --- RENDER TITLE --- */

#tt.rendered,
#d1.rendered,
#d2.rendered {
  overflow: hidden;
  background: #0000;
  align-items: flex-start;
  text-decoration: none;
}

#tt>svg {
  height: 100%;
  aspect-ratio: 3.4464285714;
}

#cr,
#nav {
  flex-direction: row;
}

#cr.rendered,
#nav.rendered {
  overflow: hidden;
  background: #0000;
  width: 160px;
  animation: .5s cubic-bezier(0.5, 0, 0.25, .75) crrender;
}

@keyframes crrender {
  from {
    background: var(--el);
  }

  to {
    background: #0000;
  }
}


#nav {
  gap: 12px
}