@import './general.skeleton.css';

#cnt {
  flex-direction: row;
  margin: auto;
}

#lf>div {
  gap: 48px;
}

#title,
#ps,
#ft {
  flex-direction: row;
}

#pf {
  width: 96px;
  height: 96px;
  border-radius: 100%;
  z-index: 1;
  box-shadow: 0 0 0 12px var(--bg);
}

#tt {
  margin-left: -54px;
  width: 220px;
  height: 64px;
  border-radius: 18px;
}

#d1,
#d2 {
  height: 24px;
  width: 289px;
  border-radius: 8px;
}

#d2 {
  width: 128px;
  border-radius: 0 0 8px 8px;
}

#ps {
  gap: 20px;
}

#ps>a:last-child,
#rg {
  display: none;
}

#ps>a {
  border-radius: 24px;
  width: 48px;
  height: 48px;
}

#nav,
#ft {
  margin: 24px;
  gap: 24px;
}

#ft>div {
  height: 16px;
  width: 96px;
  border-radius: 8px;
}

#nav {
  border: 0px;
  height: 24px;
  width: 116px;
  border-radius: 8px;
  margin: 32px;
}