/* an incremental CSS file providing skeleton layout for desktop viewports. */

@import './menu.skeleton.css';

*:not(style):not(script):not(title) {
  align-items: stretch;
  flex-direction: column;
}

body {
  width: 100%;
}

#cnt {
  margin: auto 0;
  margin-bottom: auto;
  flex-direction: row;
}

#lf {
  margin: 0 128px;
}

#title {
  align-items: center;
}

#pf {
  width: 160px;
  height: 160px;
  z-index: 1;
  box-shadow: 0 0 0 24px var(--bg);
}

#tt {
  margin-left: -32px;
  width: 386px;
  height: 112px;
  border-radius: 24px;
}

#d1,
#d2 {
  height: 28px;
  width: 337px;
  border-radius: 8px 8px 8px 0;
}

#d2 {
  width: 148px;
  border-radius: 0 0 8px 8px;
}

#ps>a:last-child,
#rg {
  display: flex;
}

#nav {
  display: none;
}

#ft {
  margin: 24px 128px;
  justify-content: space-between;
}

#ft>div {
  width: 162px;
}