#nav.rendered {
  width: 116px;
}

#rg:hover {
  gap: 32px
}

#rg>.rendered {
  overflow: hidden;
  background: #0000;
  align-items: flex-start;
  text-decoration: none;
  padding: 12px 0;
  margin: -12px 0;
}

#rg:hover>.rendered {
  padding: 32px;
  margin: -32px;
  margin-right: 192px;
}

#rg:hover>.rendered>svg>text {
  font-size: 20px !important;
  fill: var(--secondary) !important;
  font-family: text !important;
}

#rg>.rendered:hover {
  padding-left: 48px;
}

#rg>.rendered:hover>svg>text {
  fill: var(--accent) !important;
  font-family: display !important;
}