#rg {
  align-items: center;
  gap: 24px;
  width: 100%;
}

#rg>a {
  height: 24px;
  border-radius: 6px;
  width: 128px;
}

#nav {
  border: 0px;
  height: 24px;
  width: 112px;
  border-radius: 8px;
  margin: 32px;
}