@import './menu.skeleton.css';

#nav.rendered {
  padding: 16px;
  margin: 16px;
  flex-direction: row;
  overflow: hidden;
  background: #0000;
}

.navTapped>#rg {
  display: flex;
  position: absolute;
  animation: rgTapped 0.4s cubic-bezier(0, 0, 0, 1);
}

@keyframes rgTapped {
  from {
    margin-left: 50vw;
  }

  to {
    margin-left: 0vw;
  }
}

.navOpened {
  animation: lfMotion .6s cubic-bezier(0, 0.5, 0, 1);
}

.navOpened>#lf {
  opacity: 0.25;
}

.navOpened>* {
  animation: lfChildMotion .6s cubic-bezier(0, 0.5, 0, 1);
}

.navTapped {
  animation: lfMotion .6s cubic-bezier(0, 0.5, 0, 1);
}

.navTapped>#lf {
  transition: .6s cubic-bezier(0, 0, 0, 1);
  transform: translateX(-50vw);
  opacity: 0.05;
}

.navTapped>* {
  animation: lfChildMotion .6s cubic-bezier(0, 0.5, 0, 1);
}

@keyframes lfMotion {

  0% {
    filter: blur(0px);
    transform: scaleY(0.001);
  }

  2% {
    filter: blur(6px);
    transform: scaleY(0.001);
  }

  10% {
    filter: blur(6px);
    transform: scaleY(0.001);
  }

  100% {
    filter: blur(0);
    transform: scaleY(0.001);
  }
}

@keyframes lfChildMotion {
  0% {
    transform: scaleY(1000);
  }

  100% {
    transform: scaleY(1000);
  }
}

:not(.navTapped)>#rg:hover {
  gap: 32px
}

#rg>.rendered {
  overflow: hidden;
  background: #0000;
  align-items: flex-start;
  text-decoration: none;
  padding: 12px 0;
  margin: -12px 0;
}

:not(.navTapped)>#rg:hover>.rendered {
  padding: 32px;
  margin: -32px;
  margin-right: 192px;
}

:not(.navTapped)>#rg:hover>.rendered>svg>text {
  font-size: 20px !important;
  fill: var(--secondary) !important;
  font-family: text !important;
}

:not(.navTapped)>#rg.rendered:hover {
  padding-left: 48px;
}

:not(.navTapped)>#rg>.rendered:hover>svg>text {
  fill: var(--accent) !important;
  font-family: display !important;
}