/* about > skeleton.css */

#title{
  flex-direction: row;
}

body {
  padding-top: 160px;
}

#lf {
  justify-content: start !important;
}

#page {
  padding: 64px 128px;
  flex-direction: row;
}

#bio {
  width: 100%;
  margin-right: 64px;
}
