/* about > skeleton.css */

body {
  padding-top: 160px;
}

#image>img {
  object-fit: cover;
  width: 100%;
}

#page {
  box-sizing: border-box;
  padding: 64px 128px;
  width: 100%;
}

#image {
  width: 100%;
}

#bio {
  width: 100% !important;
}

#lf {
  justify-content: start !important;
}
