:root {
  --background: #FFF;
  --text: #000;
  --accent: #6549F2;
  --secondary: #999;
  --element: #E5E5E5;
  --border: #EEE;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #000;
    --text: #FFF;
    --accent: #6549F2;
    --secondary: #666;
    --element: #111;
    --border: #1A1A1A;
  }
}

body {
  padding: 0;
  margin: 0;
  height: 100%;
}

#loader {
  width: 100%;
  height: 100%;
  position: fixed;
  display: flex;
}

@media only screen and (min-width: 768px) {
  #loader svg {
    width: 192px;
    height: 192px;
  }
}

@media only screen and (max-width: 768px) {
  #loader svg {
    width: 96px;
    height: 96px;
  }
}

#loader svg {
  margin: auto;
  translate: 0 -36px;
}

#loader #spinner {
  box-sizing: border-box;
  stroke: var(--element);
  stroke-width: 2px;
  stroke-linecap: round;
  transform-origin: 50%;
  animation: line 1.6s cubic-bezier(0.4, 0, 0.2, 1) infinite, rotate 1.6s linear infinite;
}

@keyframes rotate {
  from {
    transform: rotate(0);
  }

  to {
    transform: rotate(450deg);
  }
}

@keyframes line {
  0% {
    stroke-dasharray: 2, 92.2;
    transform: rotate(0);
  }

  50% {
    stroke-dasharray: 70.65, 23.25;
    stroke-dashoffset: 0;
  }

  100% {
    stroke-dasharray: 2, 92.2;
    stroke-dashoffset: -70.65;
    transform: rotate(90deg);
  }
}