#nav {
  position: fixed;
  top:0px;
}

#rg {
  align-items: center;
  justify-content: center;
  gap: 24px;
  width: 100%;
}

@media (min-width: 920px) {
  #rg {
    width: 50vw;
  }
}

#rg>a {
  height: 24px;
  border-radius: 6px;
  width: 128px;
}
