/* common > skeleton.css */

@import './menu.skeleton.css';

:root {
  --el: #EDEBF0;
  --bg: #FAFAFC;
}

*:not(head>*) {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  transition: .6s cubic-bezier(0, 0.5, 0, 1);
  -webkit-tap-highlight-color: transparent;
}

html,
body {
  height: 100%;
  width: 100%;
  background: var(--bg);
  margin: 0;
  overflow-x: hidden;
}

body {
  justify-content: start;
  padding-top: 64px;
}

.tr {
  width: 0 !important;
  opacity: 0%;
}

.sl {
  animation: .6s cubic-bezier(0, 0.5, 0, 1) blur;
  background: -50vw 0/75% 100% fixed no-repeat linear-gradient(0.25turn, transparent, #FAFAFC88, transparent),
    linear-gradient(var(--el), var(--el));
}

@keyframes blur {
  from{
    filter: blur(64px);
  } to {
    filter: blur(0px);
  }
}

#cnt {
  flex-direction: row;
  margin: auto;
}

#lf {
  gap: 40px;
  width: 100%;
}

#ft {
  flex-direction: row;
}

#ft {
  margin: 24px;
  gap: 24px;
}
