@import './menu.css';

:root {
  --text: #0F0D1A;
  --secondary: #858391;
  --border: #39364D14;
  --element: #39364D20;
  --accent: #6549f2;
  --background-position: left 50% top calc(50%);
  --overlay: #FFFFFF;

  /* used when skeleton loads up */
  --out: .6s cubic-bezier(0, 0.5, 0, 1);
  /* used for menu transitions */
  --outSmooth: .6s cubic-bezier(0.25, 0.25, 0, 1);
}

*:not(#ps):not(#ft):not(body) {
  justify-content: center;
  font-family: 'text';
  color: var(--secondary);
}

html {
  overflow: hidden;
}

img {
  height: 100%;
  aspect-ratio: 1;
}

svg {
  height: 100%;
  width: fit-content;
  overflow: visible;
}

svg>text, svg>path {
  transition: 0s !important;
}

body.rendered {
  animation: 5s linear background;
  background:
    radial-gradient(var(--element) 5%, transparent 0),
    var(--bg);
  background-size: 24px 24px;
  overflow-x: hidden;
}

button {
  box-sizing: content-box;
  border: 0px;
}

@media (min-width: 920px) {
  #cnt {
    height: 100%;
  }
}

.rendered.sl {
  background: #0000;
}

#ft {
  align-items: flex-end;
  height: 16px;
}

#ft>div {
  flex-direction: row;
}

#lg:hover {
  flex-direction: column;
  height: 90px;
  background: var(--overlay);
  box-shadow: 0px 0px 0px 1px #0000000A,
    0px 2px 8px 0px #0000000A;
}

#lg:not(:hover)>* {
  height: 16px;
  animation: 0s;
}

#lg:not(:hover) {
  align-items: flex-end;
}

#lg:hover>div {
  font-size: 14px;
  margin: -12px;
  padding: 16px;
}

#lg:hover>div:hover {
  color: var(--accent) !important;
}

#lg:hover>svg,
#lg:hover>img {
  display: none;
}
