:root {
  --el: #EDEBF0;
  --bg: #FAFAFC;
}

*:not(style):not(script) {
  display: flex;
  flex-direction: row;
}

html,
body {
  height: 100%;
  background: var(--bg);
  margin: 0;
}

* {
  transition: .6s cubic-bezier(0, 0.5, 0, 1);
}

#lf,
#rg,
#dd,
body {
  flex-direction: column;
}

#cnt {
  margin-bottom: auto;
}

#lf {
  gap: 48px;
  margin: 128px;
}

#title {
  align-items: center;
}

#pf {
  width: 160px;
  height: 160px;
  border-radius: 80px;
  z-index: 1;
  outline: var(--bg) 24px solid;
}

#tt {
  margin-left: -32px;
  width: 377px;
  height: 112px;
  border-radius: 24px;
}

#d1,
#d2 {
  height: 28px;
  width: 300px;
  border-radius: 8px;
}

#d2 {
  width: 128px;
  height: 56px;
  margin-top: -28px;
}

#ps>a {
  border-radius: 24px;
  width: 48px;
  height: 48px;
}

#rg {
  margin: auto;
}

#rg,
#ps {
  gap: 24px;
}

#rg>a {
  height: 24px;
  border-radius: 6px;
  width: 128px;
}

#nav {
  display: none;
}

#ft {
  margin: 24px 128px;
  justify-content: space-between;
}

#ft>div {
  height: 16px;
  width: 128px;
  border-radius: 8px;
}

.tr {
  width: 0 !important;
  opacity: 0;
}

.sl {
  background: -100vw 0/75% 100% fixed no-repeat linear-gradient(0.25turn, transparent, #FAFAFC88, transparent),
    linear-gradient(var(--el), var(--el));
}