:root {
  --background-position: left 50% top calc(50%);
}

html,
body,
#content {
  padding: 0;
  margin: 0;
  height: 100%;
  letter-spacing: -0.04em;
  font-family: 'Google Sans Text';
  color: var(--text);
  display: flex;
  flex-direction: column;
  align-content: center;
  -webkit-font-smoothing: antialiased;
}

body {
  background:
    linear-gradient(90deg, var(--background) 23px, transparent 1%) var(--background-position),
    linear-gradient(var(--background) 23px, transparent 1%) var(--background-position),
    var(--element);
  background-size: 24px 24px;
}

p {
  margin: 0;
  user-select: none;
  text-shadow:
    0 8px 4px var(--background),
    0 -8px 4px var(--background),
    8px 0 4px var(--background),
    -8px 0 4px var(--background);
}

img {
  user-select: none;
}

#top {
  margin-top: 32px;
  font-size: 18px;
  line-height: 24px;
  font-family: 'Google Sans Display',
    sans-serif;
  align-self: center;
  text-shadow: none;
}

#top>span {
  color: var(--accent)
}

#container {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: auto;
  gap: 48px;
}

#title {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  justify-content: center;
  overflow: hidden;
  align-self: center;
  text-align: end;
}

#title>p {
  position: relative;
  font-family: 'Google Sans Display';
}

#pf {
  border-radius: 96px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  z-index: 1;
}

#description {
  color: var(--secondary);
  font-family: 'Inter';
  white-space: nowrap;
}

#profiles {
  display: flex;
  justify-content: center;
  height: 48px;
}

#profiles>a {
  border-radius: 24px;
  background: var(--background);
  box-shadow: 0 0 0 1px var(--border), 0 0 0 8px var(--background);
}

#profiles>a>img {
  height: 48px;
  border-radius: 24px;
}

@-moz-document url-prefix() {
  #profiles>a>img {
    box-shadow: 0 0 0 1.01px var(--border), 0 0 0 8px var(--background);
  }
}

#profiles>a:hover {
  background: #F7F7F7;
  transition: background .3s;
}

@media (prefers-color-scheme: dark) {
  #profiles>a>img, #footer>img{
    filter: invert(100%);
  }

  #profiles>a:hover {
    background: #0F0F0F;
  }
}

#profiles>a:hover>path {
  fill: var(--accent);
}

#signature {
  position: absolute;
  bottom: 0;
  opacity: 1;
  height: 72px;
  padding-bottom: 5vh;
  filter: invert(85%);
  transition: padding 1.4s cubic-bezier(.75, 0, 0, 1), opacity .5s cubic-bezier(0, 0, 1, .25) !important;
}

@media (prefers-color-scheme: dark) {
  #signature {
    filter: invert(15%);
  }
}

#signature.rendered {
  padding: 0;
  opacity: 0;
}

#footer {
  display: flex;
  align-self: center;
  justify-content: center;
  color: var(--secondary);
  margin-bottom: 24px;
  opacity: 0;
  margin-top: 32px;
  transform: translateY(-3vh);
}

#footer.rendered {
  transition-property: transform, opacity;
  transition-duration: 1.4s, 0.7s;
  transition-delay: 0s, .7s;
  transition-timing-function: cubic-bezier(.75, 0, 0, 1), cubic-bezier(0, 1, 1, 1);
  opacity: .6;
  transform: translateY(0px);
}

#footer>img {
  display: inline;
  width: 16px;
  height: 16px;
  z-index: 1;
}

#footer>p {
  font-size: 12px;
  line-height: 16px;
  text-shadow: none;
}

#top~#footer {
  box-shadow: 0 0 2px 4px var(--background);
  background: var(--background);
}

::selection {
  color: #FFF;
  background: var(--accent);
  text-shadow: none;
}