/* --- RENDER IMAGES --- */

:root {
  --text: #0F0D1A;
  --secondary: #858391;
  --border: #39364d14;
  /*--element: #39364d3a;
  -accent: #6549f2;
  --border: #39364d14;*/
}

#pf,
#ps>a {
  overflow: hidden;
}

#pf>img {
  height: 100%;
  border-radius: 100%;
  aspect-ratio: 1;
}

#ps>a>img {
  aspect-ratio: 1;
  height: 100%;
}

#cr>img {
  height: 100%;
  aspect-ratio: 1;
}

img {
  opacity: 0;
}


#ps>.rendered {
  animation: .5s cubic-bezier(0.5, 0, 0.25, .75) psrender;
  box-shadow: inset 0 0 0 1px var(--border);
  background: none;
}

@keyframes psrender {
  from {
    box-shadow: inset 0 0 0 24px var(--el);
  }

  to {
    box-shadow: inset 0 0 0 1px var(--border);
  }
}

.rendered>img {
  opacity: 1;
  animation: 1s cubic-bezier(0.5, 0, 0.25, .75) imgrender;
}

@keyframes imgrender {
  0% {
    opacity: 0;
  }

  10% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

/* --- RENDER TITLE --- */

#tt.rendered,
#d1.rendered,
#d2.rendered,
#rg>.rendered {
  overflow: hidden;
  background: #0000;
  align-items: flex-start;
}

#tt>svg {
  height: 100%;
  aspect-ratio: 3.4464285714;
}

#tt>p {
  color: var(--text);
  font-size: 74px;
  line-height: 64px;
  margin: 0;
  letter-spacing: -0.04em;
  font-family: 'Display';
}

#d1>p,
#d2>p,
#rg>.rendered>p {
  color: var(--secondary);
  font-size: 18px;
  font-family: 'Text';
  white-space: nowrap;
  margin: 0
}

@media (min-width: 920px) {
  #tt>p {
    font-size: 128px;
    line-height: 112px;
    letter-spacing: -0.04em;
  }

  #d1>p,
  #d2>p,
  #rg>.rendered>p {
    font-size: 20px;
  }
}