:root {
  --text: #0F0D1A;
  --secondary: #858391;
  --border: #39364D14;
  --element: #39364D20;
  --accent: #6549f2;
  --background-position: left 50% top calc(50%);
}

body.rendered {
  animation: 5s linear background;
  background:
    radial-gradient(var(--element) 5%, transparent 0),
    var(--bg);
  background-size: 24px 24px;
}

#pf,
#ps>a {
  overflow: hidden;
}

#pf>img {
  height: 100%;
  border-radius: 100%;
  aspect-ratio: 1;
}

#ps>a>img {
  aspect-ratio: 1;
  height: 100%;
}

#cr>img {
  height: 100%;
  aspect-ratio: 1;
}

img {
  opacity: 0;
}


#ps>.rendered {
  animation: .5s cubic-bezier(0.5, 0, 0.25, .75) psrender;
  box-shadow: inset 0 0 0 1px var(--border);
  background: none;
  outline: 8px var(--bg) solid;
  transition: outline 0s;
  transition: background .3s;
  background-color: var(--bg);
}

@keyframes psrender {
  from {
    box-shadow: inset 0 0 0 24px var(--el);
  }

  to {
    box-shadow: inset 0 0 0 1px var(--border);
  }
}

#ps>a:hover {
  background: #F0F0F2;
}

.rendered>img {
  opacity: 1;
  animation: 1s cubic-bezier(0.5, 0, 0.25, .75) imgrender;
}

@keyframes imgrender {
  0% {
    opacity: 0;
  }

  10% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

/* --- RENDER TITLE --- */

#tt.rendered,
#d1.rendered,
#d2.rendered,
#rg>.rendered {
  overflow: hidden;
  background: #0000;
  align-items: flex-start;
}

#tt>svg {
  height: 100%;
  aspect-ratio: 3.4464285714;
}

#tt>p {
  color: var(--text);
  font-size: 74px;
  line-height: 64px;
  margin: 0;
  letter-spacing: -0.04em;
  font-family: 'Display';
  align-self: self-start;
}

#d1>p,
#d2>p,
#rg>.rendered>p {
  color: var(--secondary);
  font-size: 18px;
  line-height: 20px;
  font-family: 'Text';
  white-space: nowrap;
  margin: 0
}

#rg>.rendered>p {
  font-size: 18px;
  line-height: 24px;
}

#rg>:first-child.rendered>p {
  font-size: 22px;
  color: var(--text);
  letter-spacing: -0.04em;
  font-family: 'display';
}

#cr {
  flex-direction: row;
  transition: background 3s;
}

#cr.rendered {
  overflow: hidden;
  background: #0000;
}

#cr>p {
  font-size: 12px;
  line-height: 16px;
  font-family: 'text';
  margin: 0;
  color: var(--secondary);
}


@media (min-width: 920px) {
  #tt>p {
    font-size: 128px;
    line-height: 112px;
    letter-spacing: -0.04em;
  }

  #d1>p,
  #d2>p,
  #rg>.rendered>p {
    font-size: 20px;
    line-height: 28px;
  }

  #rg>.rendered>p {
    font-size: 18px;
    line-height: 24px;
  }

  #rg>:first-child.rendered>p {
    font-size: 20px;
    color: var(--text);
    letter-spacing: -0.04em;
    font-family: 'Display';
  }
}