/* --- RENDER IMAGES --- */

:root {
  --text: #0F0D1A;
  --secondary: #858391;
  /*--element: #39364d3a;
  -accent: #6549f2;
  --border: #39364d14;*/
}

#pf,
#ps>a {
  overflow: hidden;
}

#pf>img {
  height: 100%;
  border-radius: 100%;
  aspect-ratio: 1;
}

#ps>a>img {
  aspect-ratio: 1;
  height: 100%;
}

#cr>img {
  height: 100%;
  aspect-ratio: 1;
}

img {
  opacity: 0;
}

.rendered>img {
  opacity: 1;
  animation: .5s cubic-bezier(0.5, 0, 0.25, .75) imgrender;
}

@keyframes imgrender {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

/* --- RENDER TITLE --- */

#tt.rendered,
#d1.rendered {
  overflow: hidden;
  background: #0000;
  display: block;
}

#tt>svg {
  width: 100%;
  aspect-ratio: 2.25;
  margin-top: -18px;
}

#tt>p {
  color: var(--text);
  font-size: 74px;
  margin-top: -14px;
  margin-right: 2px;
  letter-spacing: -2.56px;
  font-family: 'Google Sans Display';
}

@media (min-width: 920px) {
  #tt>svg {
    margin-top: -24px;
  }

  #tt>p {
    font-size: 128px;
    margin-top: -23px;
    margin-right: 4px;
    letter-spacing: -4.42px;
  }
}