.container {
  padding: 0 32px;
}

.description {
  font-size: 18;
}

.profiles {
  gap: 20px;
}

.title>p {
  font-size: 72px;
  margin-left: -54px;
  letter-spacing: -2.56px;
}

.title>img {
  width: 96px;
  height: 96px;
  outline: solid 12px var(--background);
}

#mt {
  display: none;
}