.page {
  width: 100%;
  height: 100%;
  font-family: 'Google Sans Display';
  color: var(--text);
}

.top {
  text-align: center;
  margin-top: 32px;
  font-size: 18px;
}

.top>span {
  color: var(--accent)
}

.container {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding-top: 24px;
  margin: auto;
  max-width: 532px;
  gap: 48px;
}

.title {
  margin-top: 96px;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
}

.title>p {
  font-size: 128px;
  font-weight: 700;
  letter-spacing: -5.12px;
  position: relative;
  left: -36px;
}

.title>img {
  width: 192px;
  height: 192px;
  border-radius: 96px;
  outline: solid 24px var(--background);
  z-index: 1;
}

.description {
  font-size: 22px;
  font-family: 'Google Sans Text';
  opacity: 0.6;
  color: var(--secondary);
}